#todo-page {
  background-color: rgb(232, 242, 246);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.todo-list {
  background-color: rgb(244, 230, 254);
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.todo-item {
  background-color: aliceblue;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.todo-item > button {
  position: relative;
  right: 0;
}

.todo-item input:checked + p {
  text-decoration: line-through;
}

/* Animations */

@keyframes shake {
  0%, 100% {
    transform: translate(0, 0);
  }

  10%, 90% {
    transform: translate(-1px, 0);
  }

  20%, 80% {
    transform: translate(2px, 0);
  }

  30%, 50%, 70% {
    transform: translate(-4px, 0);
  }

  40%, 60% {
    transform: translate(4px, 0);
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
}
